* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 100px 0;
}

main {
  position: relative;
  top: 60px;
}

section {
  min-height: 200px;
  padding: 30px 0;
  background-color: #383737;
}

section:nth-child(even) {
  background-color: #2A2828;
}

.last-section {
  height: 100vh;
}

p {
  text-align: justify;
}

.section-header {
  color: #A7D49B;
}

.hero-image {
  background-image: url("https://res.cloudinary.com/amhprojects/image/upload/v1515091398/portfolio/mountain-color.jpg");
  height: 500px;
  background-position: 0 25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  color: white;
  width: 75%;
  top: 0;
  left: 12.5%;
}

.me-image {
  width: 75%;
}

.project-box {
  margin: 30px 0 50px 0;
}

.project-screenshot {
  width: 100%;
  border: 1px solid white;
}

.project-links a, .contact-link, .resume-link {
  text-decoration: none;
  color: #A7D49B;
  padding: 10px;
}

.link-text:hover {
  text-decoration: underline;
}

.fa {
  margin-right: 9px;
}

.contact-col {
  display: inline-block;
  padding: 30px;
  border: 1px solid white;
  min-width: 300px;
  margin-bottom: 10px;
}

.left {
  margin-right: 5px;
}

.right {
  margin-left: 5px;
}

.contact-col p {
  text-align: left;
}

.contact-link {
  display: block;
  margin: 10px 0 0 0;
  padding: 0;
}

.contact-link:hover {
  color: white;
}


/* responsive nav bar css */
.topnav {
  background-color: #2A2828;
  border-bottom: 2px solid #383737;
  overflow: hidden;
}

.large-nav a {
  font-size: 20px;
  padding: 14px 16px;
}

.small-nav a {
  font-size: 16px;
  padding: 10px 14px;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #383737;
  color: #A7D49B;
}

/* Hide the link that will open and close the topnav on large screens */
.topnav .icon {
  display: none;
}

/* Mobile styles - when the screen is less than 665 pixels wide, hide all links and close the topnav, show the icon */
@media only screen and (max-width: 665px) {
  .hero-image {
    background-position: 50% 20%;
    background-size: auto 900px;
  }

  .me-image {
    width: 100%;
  }

  .topnav a {
    display: none;
  }

  .topnav .icon {
    float: right;
    display: block;
  }

  .show-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .show-menu a {
    float: none;
    display: block;
    text-align: left;
  }

  .contact-col {
    margin: 7px 0;
  }

  .contact-col p {
    margin: 0;
  }

  .last-section {
    height: 100%;
  }
}
